wanxiang-lts-zh-hans.gram filter=lfs diff=lfs merge=lfs -text
dicts/jichu.pro.dict.yaml filter=lfs diff=lfs merge=lfs -text
dicts/lianxiang.pro.dict.yaml filter=lfs diff=lfs merge=lfs -text
dicts/shici.pro.dict.yaml filter=lfs diff=lfs merge=lfs -text
